# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/

# Swift/Objective-C intermediates
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# macOS metadata
.DS_Store


# Coverage
*.xccoverage

# Local scripts or logs
*.log

